{% extends "grid.html"  %}
{% block header %}
{% endblock %}

{% block content %}
<div class="create_button">
    <form action="/update" enctype="multipart/form-data" method="post">
        <input type="hidden" name="imageID" value="{{id}}">
        <p><input type="text" size="100" name="title" placeholder="title" value="{{title}}"></p>
        <p><textarea rows="30" cols="100" name="description" placeholder="description">{{content}}</textarea></p>
        <p><input type="file" name="file"></p>
        <p><input type="submit"></p>
    </form>
</div>
{% endblock %}